nav {
    background-color:#f2d0e0 ;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
 
}
.icone {
    height: 20px;
    width: 20px;
    margin-left: -620px;
    padding-right: 10px;
    margin-top: 20px;
}
.icone-e-texto {
    margin-left: 50px;
    margin-bottom: -100px;
    display: flex;
    align-items: center;
}
